# Ignore folders
/cache/
/old/
/raw_api_files/
**/__pycache__/
/.vscode/

# Ignore the API key file
apikey.txt
username.txt
preferred_exchange.txt

# Ignore python module-specific folders
/prunpy/prunpy.egg-info/
/build/
/prunpy/build/

*sell_rates*.csv

# Inflation calc stuff (strains fio api but it works,
#  ask me if you wanna see the graphs or data)
*inflation*.png
*inflation_rates*.csv
graph-inflation.py

notifier-bot*
*fioc*
output.csv