# Ignore folders
/cache/
/old/
/raw_api_files/
/__pycache__/

# Ignore the API key file
apikey.txt

# Ignore some particularly large old files that might be important
allplanets.json
allplanets-raw.json
cx_report_full.csv

# Ignore python module-specific folders
/prunpy/prunpy.egg-info
/prunpy/prunpy/__pycache__
/prunpy/prunpy/models/__pycache__
/prunpy/prunpy/utils/__pycache__
/prunpy/prunpy/tools/__pycache__